.actions-btns {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  .MuiButtonBase-root {
    margin: 0 20px;
  }
}

.App-header {
  background-color: #5d5a5a;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.App-header h1 {
  font-size: 16px;
  font-weight: 200;
}

.App-logo {
  height: 60%;
  width: auto;
}

.AppHeading {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  display: flex;
  justify-content: center;
  height: 60vh;
  max-height: 800px;

  .caption-box {
    position: absolute;
    top: 92%;
    width: 100%;
    text-align: center;
    height: 40px;
    z-index: 1;
    background-color: rgb(0, 0, 0, 1);
  }
  .main-video {
    position: relative;
    width: 70% !important;
    height: 100%;
    border: solid 1px #063c3c;
    background-color: #a2dede;
    &:hover {
      .video-toolbar {
        opacity: 1;
      }
    }

    > :first-child {
      visibility: visible;
    }
  
    >:not(:first-child) {
      visibility: hidden;
    }
    .video-toolbar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3em;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      z-index: 2;

      .video-tools {
        margin-left: 410px;
      }
    }

    .OT_publisher {
      .OT_video-element {
        object-fit: none;
      }

      .OT_name {
        display: none;
      }
    }

    .MuiSvgIcon-root {
      font-size: 2rem;
      cursor: pointer;
      margin: 0 10px;
    }
    .on-icon {
      color: white;
    }
    .off-icon {
      color: red;
    }
  }

  .additional-video {
    height: 18%;
    width: 11%;
    position: absolute;
    margin-bottom: 5px;
    left: 73%;
    z-index: 1;
    margin-top: 10px;
  }
}

.joinLink {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.copyButton {
  height: 30px;
  font-size: 12px;
  border: 1px solid black;
}


.video-tool-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  // bottom: 0;
  width: 70%;
  height: 3em;
  background-color: rgba(162, 159, 159, 0.7);
  transition: opacity 0.25s ease-in-out;
  z-index: 2;
}
