.Formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.formFields {
  display: grid;
  gap: 20px;
}

.Heading {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GenderSelection {
  margin-left: 20px;
}
