.actions-btns {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  .MuiButtonBase-root {
    margin: 0 20px;
  }
}

.App-header {
  background-color: #5d5a5a;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.App-header h1 {
  font-size: 16px;
  font-weight: 200;
}

.App-logo {
  height: 60%;
  width: auto;
}

.video-container {
  display: flex;
  justify-content: center;
  height: 60vh;
  // width: 70%;
  max-height: 800px;
  .main-video {
    position: relative;
    width: 70% !important;
    height: 100%;
    border: solid 1px #063c3c;
    background-color: #a2dede;
    &:hover {
      .video-toolbar {
        opacity: 1;
      }
    }
    .video-toolbar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 3em;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      z-index: 2;

      .video-tools {
        margin-left: 410px;
      }
    }
    .OT_subscriber {
      margin-top: 10px;
    }
    
    .OT_publisher {

        .OT_video-element {
          object-fit: none;
        }
    }

    .MuiSvgIcon-root {
      font-size: 2rem;
      cursor: pointer;
      margin: 0 10px;
    }
    .on-icon {
      color: white;
    }
    .off-icon {
      color: red;
    }
  }

  .additional-video {
    height: 18%;
    width: 11%;
    position: absolute;
    margin-bottom: 5px;
    left: 73%;
    border: solid 1px black;
    z-index: 1;
    margin-top: 10px;
  }
}
